*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{ 
	text-decoration: none; 
}
body {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}


#bg{
	position:absolute;
	width:100%;
	height: 100%;
	top:0px;
	left:0px;
	background: rgb(206,220,231); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


#hap-wrapper{
	position:relative;
	min-width:280px;
	max-width:280px;
	height:420px;
	top:100px;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
}
.hap-player-wrapper{
	position: absolute;
	width:100%;
	height:420px;
	overflow: hidden;
	-moz-box-shadow: 3px 3px 25px #111;
	-webkit-box-shadow: 3px 3px 25px #111;
	box-shadow: 3px 3px 25px #111;
}
.hap-player-holder{
	position: relative;
	left:0;
	height: 100%;
	top:-100%;
	background: #fff;
	overflow:hidden;
}
.hap-icon-color{
	color:#ccc !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-icon-rollover-color{
	color:#ff2a67 !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-contr-btn-i{
	position: absolute;
    top: 0;
    left: 0;
	width:25px;
	height:100%;
	text-align: center;
	display: inline-block;
	font-size: 18px!important;
	line-height: 40px!important;
}
.hap-top-cont{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 40px;
}
.hap-playlist-toggle,
.hap-playlist-close{
	position:absolute;
	width:25px;
	height:100%;
	top:0;
	left: 15px;
	cursor: pointer;
}
.hap-share-toggle{
	position:absolute;
	top:0px;
	width:25px;
	height:100%;
	top:0;
	right:13px;
}
.hap-share-toggle-btn{
	position:absolute;
}
.hap-share-holder{
	position:absolute;
	top:0px;
	right:0px;
	width:165px;
	height:100%;
	display: none;
	background: rgba(255,255,255,0.01);
}
.hap-share-item{
	position: relative;
	width:25px;
	height:100%;
	top:0;
	float: left;
	margin-right:10px;
}

.hap-player-thumb-wrapper{
	position: absolute;
	top:-20px;
	left:0;
	width:220px;
	height:100%;
	overflow: hidden;
	transform:rotate(80deg);
	-webkit-transform:rotate(80deg);
}
.hap-player-thumb{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	transform:rotate(-80deg);
	-webkit-transform:rotate(-80deg);
}
.hap-player-thumb img{
	display:block;
	height:100%;
	width:auto!important;
	min-width: 280px!important;
	margin:0 auto;
}

.hap-info{
	position: relative;
	text-align: center;
	line-height: normal;
	margin-top:240px;
	pointer-events:none;
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
}
.hap-player-title{
	font-size:20px;
	color:#ccc;
	text-align: center;
	margin:0;
	margin-bottom: 3px;
	padding:0;
}
.hap-player-artist{
	font-size:13px;
	color:#bbb;
	font-style: italic;
	padding:0;
	text-align: center;
}

.hap-player-controls{
	position: absolute;
	bottom:0;
	left:0;
	width:100%;
	height:40px;
}
.hap-loop-toggle{
	position:relative;
	width:25px;
	height:100%;
	margin-left:15px;
}
.hap-player-controls-inner{
	position: absolute;
	top:0;
	width:150px;
	height: 100%;
	left:50%;
	-webkit-transform: translate(-50%, 0);
  	-ms-transform: translate(-50%, 0);
  	transform: translate(-50%, 0);
}
.hap-prev-toggle{
	position: absolute;
	width:25px;
	height:100%;
	left:5px;
	top:0;
}
.hap-playback-toggle{
	position:absolute;
	top:0px;
	width:40px;
	height:100%;
	left:50%;
	-webkit-transform: translate(-50%, 0);
  	-ms-transform: translate(-50%, 0);
  	transform: translate(-50%, 0);
}
.hap-playback-toggle i{
	width:40px;
	height:100%;
	font-size: 26px!important;
	line-height:40px!important;
}
.hap-next-toggle{
	position:absolute;
	width:25px;
	height:100%;
	right:5px;
	top:0;
}
.hap-random-toggle{
	position: absolute;
	width:25px;
	height:100%;
	right:15px;
	top:0;
}

.hap-volume-seekbar{
	position: absolute;
	bottom:105px;
	right:10px;
	width:90px;
	height:16px;
	cursor: pointer;
	touch-action: none;
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
	-webkit-backface-visibility:hidden;
	backface-visibility:hidden;
}
.hap-volume-bg{
	position:absolute;
	top:7px;
	left:10px;
	width:70px;
	height:1px;
	background:#ddd;
	background-color: rgba(150, 150, 150, 0.5);
}
.hap-volume-level{
	position:absolute;
	top:7px;
	left:10px;
	width:0px;
	height:1px;
	background:#ff2a67;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}
.hap-volume-drag{
	position:absolute;
	top:-9px;
	left:0px;
    width: 18px;
    height: 18px;
	border-radius: 100%;
	background:#ff2a67;
	/*pointer-events:none;*/
	-webkit-transform: scale( 0.5 );
    transform: scale( 0.5 );
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
   	box-sizing: border-box;    
   	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}
.hap-volume-drag:hover,
.hap-volume-drag:active {
    -webkit-transform: scale(1);
    transform: scale(1);
}



.hap-seekbar-inner{
	position: absolute;
	left:0;
	bottom:40px;
	width: 100%;
	height:20px;
	cursor: pointer;
	touch-action: none;
}
.hap-progress-bg{
	position:absolute;
	background:#ccc;
	width:100%;
	top:15px;
	height:1px;
}
.hap-load-level{
	position:absolute;
	background:#ccc;
	top:15px;
	height:1px;
}
.hap-progress-level{
	position:absolute;
	background:#ff2a67;
	top:15px;
	height:1px;	
	width:0px;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}




#hap-playlist-list{
	display:none;
}
.hap-playlist-holder{
	position: relative;
	left:-100%;
	width:100%;
	height: 420px;
	background: #222;
	overflow:hidden;
}
.hap-playlist-inner{
	min-height:150px;
	max-height: 380px;
}
.hap-playlist-item{
	position: relative;
	top:0px;
	left:0px;
	overflow: hidden;
	height:130px;
	border-bottom:1px solid #ddd;
}
.hap-playlist-item > a {
    border: 0;
}
.hap-playlist-item:last-child {  
	border-bottom:none;
}
.hap-playlist-selected {
	display: block;
	color:#ff2a67;
	width: 100%;
	text-decoration: none; 
}
.hap-playlist-non-selected {
	display: block;
	color:#ccc;
	width: 100%;
	text-decoration: none; 
}
.hap-download, .hap-link, .hap-buy{
	float:right;
	color:#ccc!important;
	font-size: 16px!important;
}
.hap-download i, .hap-link i, .hap-buy i{
	color:inherit;
}
.hap-download:hover, .hap-link:hover, .hap-buy:hover{
	color:#05D1B7!important;
}
.hap-active a{
	color:#ff2a67!important;
}
.hap-playlist-item:hover a{
	color:#ff2a67!important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-playlist-thumb{
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background:#111;
	overflow:hidden;
}
.hap-playlist-thumb:hover{
	filter: contrast(70%);
	-webkit-filter: contrast(70%);
}



.hap-playlist-thumb img{
	display:block;
	width:100%;
	height:auto!important;
	margin:0 auto;
}
.hap-playlist-title{
	position: absolute;
	left:5px;
	bottom: 5px;
	font-size:16px;
	color:inherit;
}


.hap-playlist-filter-msg{
	position:absolute;
	top:40px;
	left:0px;
	bottom:0;
	right:0;
	display: none;
}
.hap-playlist-filter-msg p{
	font-size:17px!important;
	color:#ff2a67!important;
	vertical-align: middle!important;
    text-align:center!important;
    line-height: 380px;
	padding:0!important; 	
	margin:0!important; 
}
.hap-bottom-bar{
	position:relative;
	top:0px;
	left: 0;
	height:40px;
	width:100%;
	overflow:hidden;
	background: #111;
}
input.hap-search-filter[type="text"]{
	position:relative;
	width:125px!important;
	height:18px!important;
	padding:0!important;
	margin:10px!important;
	border:1px solid #999!important;
	-moz-border-radius:0 !important;
    -webkit-border-radius:0 !important;
	border-radius:0 !important;
	background: #222;
	background-color: rgba(0, 0, 0, 0);
	color:#ccc !important;
	box-shadow:none!important; 
	line-height:1!important; 
	float: right;
	outline:none;
}

.hap-sr-bar-i{
	display: inline-block;
	font-size: 18px!important;
	line-height: 40px!important;
}
.hap-sort-alpha{
	position:relative;
	margin-right:5px;
	top:0px;
	right:5px;
	width:25px;
	height:40px;
	text-align: center;
	float: right;
}




.hap-tooltip{
	position:absolute;
	background:#ff2a67;
	text-align:center;
	z-index:10000;
	pointer-events:none;
	-moz-box-shadow: 1px 1px 8px #111;
	-webkit-box-shadow: 1px 1px 8px #111;
	box-shadow: 1px 1px 8px #111;
	border-radius: 1px;
	display:none;
}
.hap-tooltip p {
	width:inherit;
	font-size:13px!important;
	color:#fff!important;
	margin:0 5px !important;
	padding:0 !important;
	line-height:20px !important;
	white-space:nowrap;
	color:inherit;
}
.hap-tooltip-num{
	direction: ltr !important;
}
.hap-download-confirm{
	position:absolute;
	left: 50%;
	top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	opacity:0;
	z-index:1000;
	display:none;
}
.hap-download-confirm p{
	padding:10px!important;
	font-size:18px;
	color:#fff;
	background:#6DC7FB;
	text-align: center;
}
.hap-preloader{
	position:absolute;
	width:36px;
	height:30px;
	top:50%;
	left:50%;
	margin-left:-16px;
	margin-top:-15px;
	background: #111 url('../data/loading.gif') no-repeat center center; 
}


/* flash or yt */
.hap-sound-holder{
	position:absolute;
	width:100px;
	height:100px;
}
.hap-force-hidden{
	position:absolute!important;
	top:0px;
	left:-10000px!important;
	width:320px;
	height:240px;
}
[dir=rtl] .hap-force-hidden {
    right:-10000px!important;
}
.hap-youtube-holder{
	left:0px!important;
}
/* flash or yt */


.hap-hidden {
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.hap-visible {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}

/* scroll */
.hap-playlist-inner .mCSB_inside > .mCSB_container {
    margin-right: 30px;
}