*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{ 
	text-decoration: none; 
}
body {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#bg{
	position:absolute;
	width:100%;
	height: 100%;
	top:0px;
	left:0px;
	background: url("../data/pattern/b1.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


#hap-wrapper{
	position:fixed;
	max-width:920px;
	width:100%;
	bottom:0px;
	left:50%;
	-webkit-transform: translate(-50%, 0);
  	-ms-transform: translate(-50%, 0);
  	transform: translate(-50%, 0);
  	background:rgba(64,46,34,0.9);
	font-family: 'Times New Roman', Times, serif;
	min-width: 320px;
	z-index:99999;
}

.hap-player-holder{
	position: relative;
	left:0;
	width: 100%;
	height: 70px;
}
.hap-icon-color{
	color:#ddd !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-icon-rollover-color{
	color:#D1C1FA !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-contr-btn-i{
	position: absolute;
    top: 0;
    left: 0;
	width:25px;
	height:25px;
	text-align: center;
	display: inline-block;
	font-size: 15px!important;
	line-height: 25px!important;
}

.hap-media-title-mask{
	position:relative;
	display: inline-block;
	top:16px;
	left:50%;
	-webkit-transform: translate(-50%, 0);
  	-ms-transform: translate(-50%, 0);
  	transform: translate(-50%, 0);
	overflow:hidden;
}
.hap-media-title{
	white-space: nowrap;
	font-size:14px;
	color:#eee;
	margin:0;
}

.hap-player-left{
	position: absolute; 
	width:180px;
	height:100%;
}
.hap-controls-left{
	display: inline-block;
	height: 30px;
	margin-top:22px;
    margin-left: 30px;
}
.hap-prev-toggle{
	position:relative;
	left:0px;
	top:2px;
	width:25px;
	height:25px;
	float:left;
	margin-right:20px;
}
.hap-playback-toggle{
	position:relative;
	top:0px;
	width:30px;
	height:30px;
	float:left;
	margin-right:20px;
}
.hap-playback-toggle i{
	width:30px;
	height:30px;
	line-height:30px!important;
	font-size: 26px!important;
}
.hap-next-toggle{
	position:relative;
	top:2px;
	width:25px;
	height:25px;
	float:left;
}


.hap-player-middle{
	position: absolute;
	left:180px; 
	right:180px; 
	height:100%;
	z-index: 1;
}
.hap-seekbar-inner-wrap{
	position:absolute;
	bottom:15px;
	left:100px;
	right:100px;
	height:20px;
}
.hap-seekbar-inner{
	position:absolute;
	top:0;
	left:0px;
	right:0px;
	height:20px;
	cursor: pointer;
	touch-action: none;
}
.hap-progress-bg{
	position:relative;
	background:#ccc;
	width:100%;
	top:11px;
	height:2px;
}
.hap-load-level{
	position:absolute;
	background:#ccc;
	top:11px;
	height:2px;
}
.hap-progress-level{
	position:absolute;
	background:#D1C1FA;
	top:11px;
	height:2px;	
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}
.hap-media-time-current{
	position:absolute;
	top:2px;
	left:-40px;
	height:20px;
	line-height:20px !important;
	margin:0!important;
	padding: 0px 0px 0px 2px!important;
	color:#ccc !important;
	font-size:13px!important;
}
.hap-media-time-total{
	position:absolute;
	top:2px;
	right:-40px;
	height:20px;
	line-height:20px !important;
	margin:0!important;
	padding: 0px 0px 0px 2px!important;
	color:#ccc !important;
	font-size:13px!important;
}



.hap-player-right{
	position: absolute;
	right: 0;
	width:180px;
	height:100%;
}
.hap-controls-right{
	display: inline-block;
	height: 30px;
	margin-top:24px;
    margin-left: 30px;
}
.hap-random-toggle{
	position:relative;
	width:25px;
	height:25px;
	float:right;
	margin-left:5px;
	display: none;
}
.hap-playlist-toggle{
	position:relative;
	width:25px;
	height:25px;
	float:right;
	margin-left:5px;
	cursor: pointer;
}
.hap-player-volume{
	position:relative;
	width:25px;
	height:25px;
	float:right;
}
.hap-volume-seekbar{
	position:relative;
	left:0px;
	top:5px;
	width:70px;
	height:16px;
	float:right;
	cursor: pointer;
	touch-action: none;
}
.hap-volume-bg{
	position:absolute;
	top:6px;
	left:10px;
	width:50px;
	height:3px;
	background:#ccc;
}
.hap-volume-level{
	position:absolute;
	top:6px;
	left:10px;
	width:0px;
	height:3px;
	background:#D1C1FA;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}




#hap-playlist-list{
	display:none;
}
.hap-playlist-holder{
	position:relative;
	top:0px;
	width:100%;
	overflow:hidden;
}
.hap-playlist-inner{
	margin:20px;
	min-height:100px;
	max-height:215px;
}
.hap-playlist-item{
	position: relative;
	top:0px;
	left:0px;
	height: 50px;
	overflow: hidden;
	margin-bottom:5px!important;
}
.hap-playlist-item > a {
    border: 0;
}
.hap-playlist-item:last-child {  
	margin-bottom:0px!important;
}
.hap-playlist-non-selected {
	float: left;
	display:inline-block;
	height: 100%;
	width:100%;
	color:#aaa;
	text-decoration: none; 
}
.hap-playlist-selected {
	float: left;
	display:inline-block;
	height: 100%;
	width:100%;
	color:#fff;
	text-decoration: none; 
	background: #ccc!important;
}
.hap-download, .hap-link{
	float:right;
	color:#fff!important;
	font-size: 13px!important;
}
.hap-download i, .hap-link i{
	color:inherit;
}
.hap-playlist-thumb{
	margin:4px;
	width:60px;
	height:40px;
	float: left;
	border:1px solid #aaa;
	overflow: hidden;
}
.hap-playlist-thumb img{
	display: block;
	height: 100%;
	width: 100%;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
.hap-active a .hap-playlist-thumb img,
.hap-playlist-item:hover .hap-playlist-thumb img{
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}
.hap-playlist-title{
	position: relative;
	left:5px;
	height: 50px;
	display: table-cell;
    vertical-align: middle;
    margin-left: 15px;
    font-size:15px;
	color:inherit;
}
.hap-playlist-filter-msg{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	line-height:290px;
	display: none;
}
.hap-playlist-filter-msg p{
	font-size:15px!important;
	color:#ffa48f!important;
	vertical-align: middle!important;
    text-align:center!important;
	padding:0!important; 	
	margin:0!important; 
}





.hap-tooltip{
	position:absolute;
	background:rgba(64,46,34,0.9);
	text-align:center;
	z-index:10000;
	color:#fff!important;
	border:1px solid #444;
	pointer-events:none;
	display:none;
}
.hap-tooltip p {
	width:inherit;
	font-size:12px!important;
	margin:0 5px !important;
	padding:0 !important;
	line-height:20px !important;
	white-space:nowrap;
	color:inherit;
}
.hap-tooltip-num{
	direction: ltr !important;
}
.hap-download-confirm{
	position:absolute;
    left:50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	border:1px solid #555;
	opacity:0;
	z-index:1000;
	display:none;
}
.hap-download-confirm p{
	padding:10px 5px !important;
	font-size:14px;
	color:#fff;
	background:#333;
	text-align: center;
}
.hap-preloader{
	position:absolute;
	width:36px;
	height:30px;
	top:50%;
	left:50%;
	margin-left:-16px;
	margin-top:-15px;
	background: #111 url('../data/loading.gif') no-repeat center center; 
}


/* flash or yt */
.hap-sound-holder{
	position:absolute;
	width:100px;
	height:100px;
}
.hap-force-hidden{
	position:absolute!important;
	top:0px;
	left:-10000px!important;
	width:320px;
	height:240px;
}
[dir=rtl] .hap-force-hidden {
    right:-10000px!important;
}
.hap-youtube-holder{
	left:0px!important;
}
/* flash or yt */

.hap-hidden {
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.hap-visible {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}


/* scroll */
.hap-playlist-inner .mCSB_inside > .mCSB_container {
    margin-right: 30px;
}



@media screen and (max-width: 768px) {
    .hap-seekbar-inner-wrap{
		left:50px;
		right:50px;
	}
}
@media screen and (max-width: 641px) {
	.hap-player-holder {
        height:120px;
    }
	.hap-player-middle {
        top:50px;
        left:0;
        right:0;
        width: 100%;
    }
    .hap-seekbar-inner-wrap{
		bottom:65px;
		left:70px;
		right:70px;
	}
}
