*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{ 
	text-decoration: none; 
}
body {
	background:#333;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}



#hap-wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.hap-icon-color{
	color:#aaa !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-icon-rollover-color{
	color:#eee !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-contr-btn{
	background: #111; 
	background: rgba(0,0,0,0.4);
	width:40px;
	height:40px;
	float: left;
	margin-right:5px;
}
.hap-contr-btn-i{
	width:40px;
	height:40px;
	text-align: center;
	display: inline-block;
	font-size: 15px!important;
	line-height: 40px!important;
}
.hap-info{
	margin-top:50px;
	margin-left:50px;
	pointer-events:none;
	text-shadow: 1px 1px 1px #000;
}
.hap-player-title{
	font-size:20px;
	color:#ccc;
	display: inline-block;
	margin-bottom: 3px;
}
.hap-player-artist{
	font-size:13px;
	color:#ccc;
}
.hap-player-controls{
	position:absolute;
	width:265px;
	height:40px;
	bottom:0px;
	left:50%;
	margin-left: -132px;
}
.hap-lyrics-toggle{
	cursor: pointer;
}
.hap-volume-wrapper{
	position: relative;
	width:40px;	
	height:40px;
	float: left;
}
.hap-volume-wrapper:hover .hap-volume-seekbar{
	display: block;
}
.hap-player-volume{
	width:40px;	
	height:40px;
}
.hap-volume-seekbar{
	position:absolute;
	top:-80px;
	left:0px;
	width:40px;
	height:80px;
	display:none;
	cursor: pointer;
	touch-action: none;
}
.hap-volume-bg{
	position:absolute;
	width:5px;
	height:60px;
	background:#444444;
	left:17px;
	bottom:10px;
}
.hap-volume-level{
	position:absolute;
	width:5px;
	height:60px;
	background:#ccc;
	left:17px;
	bottom:10px;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}
.hap-seekbar-inner{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:20px;
	cursor: pointer;
	touch-action: none;
	opacity: 0.5;
}
.hap-progress-bg{
	position:relative;
	background:#222222;
	width:100%;
	top:0px;
	height:10px;
}
.hap-load-level{
	position:absolute;
	background:#444444;
	top:0px;
	height:10px;
}
.hap-progress-level{
	position:absolute;
	background:#ccc;
	top:0px;
	height:10px;
}
.hap-share-toggle{
	position: relative;
	width:40px;
	height:40px;
}
.hap-share-toggle-btn{
	width:40px;	
	height:40px;
}
.hap-share-holder{
	position:absolute;
	top:-160px;
	left:0px;
	width:40px;
	height:161px;
	display: none;
	background: rgba(0,0,0,0.01);
}
.hap-share-item{
	width:40px;
	height:40px;
}



#hap-playlist-list{
	display:none;
}

.hap-tooltip{
	position:absolute;
	background: #111; 
	background: rgba(0,0,0,0.4);
	text-align:center;
	z-index:10000;
	pointer-events:none;
	-moz-box-shadow: 1px 1px 8px #444;
	-webkit-box-shadow: 1px 1px 8px #444;
	box-shadow: 1px 1px 8px #444;
	border-radius: 1px;
	display:none;
}
.hap-tooltip p {
	width:inherit;
	font-size:13px!important;
	color:#fff!important;
	margin:0 5px !important;
	padding:0 !important;
	line-height:20px !important;
	white-space:nowrap;
}
.hap-tooltip-num{
	direction: ltr !important;
}

/* flash or yt */
.hap-sound-holder{
	position:absolute;
	width:100px;
	height:100px;
}
.hap-force-hidden{
	position:absolute!important;
	top:0px;
	left:-10000px!important;
	width:320px;
	height:240px;
}
[dir=rtl] .hap-force-hidden {
    right:-10000px!important;
}
.hap-youtube-holder{
	left:0px!important;
}
/* flash or yt */


.hap-hidden {
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.hap-visible {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}
.hap-media{
	max-width:none!important;
}




#hap-bg{
	position:absolute;
	width:100%;
	height:100%;
	top:0px;	
	left:0px;
}
#hap-lyrics-cont{
	margin:50px;
}
#hap-lyrics-cont p{
	font-size:20px;
	color:#ccc;
	text-shadow: 1px 1px 1px #000;
	margin-bottom: 10px;
}