*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{ 
	text-decoration: none; 
}
body {
	background:#fff;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}



#hap-wrapper{
	position:relative;
	min-width:320px;
	max-width:600px;
	top:140px;
	margin: 0 auto;
	font-family: Arial, Helvetica, sans-serif;
	-moz-box-shadow: 1px 1px 10px 1px #ccc;
	-webkit-box-shadow: 1px 1px 10px 1px #ccc;
	box-shadow: 1px 1px 10px 1px #ccc;
}
.hap-player-holder{
	position:relative;
	width:100%;
	height:85px;
	background: #F0F5F7; 
	overflow: hidden;
}
.hap-icon-color{
	color:#fff !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-icon-rollover-color{
	color:#6DC7FB !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-contr-btn-i{
	position: absolute;
    top: 0;
    left: 0;
	width:25px;
	height:25px;
	text-align: center;
	display: inline-block;
	font-size: 20px!important;
	line-height: 25px!important;
}
.hap-player-controls{
	position: relative;
	margin-top:20px;
	margin-left:20px;
	margin-right:20px;
	height: 25px;
}
.hap-prev-toggle{
	position:relative;
	margin-left:-5px;
	width:25px;
	height:25px;
	float:left;
	margin-right:5px;
}
.hap-playback-toggle{
	position:relative;
	top:-7px;
	width:40px;
	height:40px;
	float:left;
	margin-right:5px;
}
.hap-playback-toggle i{
	width:40px;
	height:40px;
	font-size: 30px!important;
	line-height:40px!important;
}
.hap-next-toggle{
	position:relative;
	width:25px;
	height:25px;
	float:left;
	margin-right:20px;
}
.hap-random-toggle{
	position:relative;
	width:25px;
	height:25px;
	margin-right:10px;
	float:right;
}
.hap-loop-toggle{
	position:relative;
	width:25px;
	height:25px;
	float:right;
	margin-right:-4px;
}

.hap-player-volume{
	position:relative;
	width:25px;
	height:25px;
	float:left;
	display: none;
}
.hap-volume-seekbar{
	position:relative;
	left:0px;
	top:4px;
	width:90px;
	height:16px;
	float:left;
	cursor: pointer;
	touch-action: none;
}
.hap-volume-bg{
	position:absolute;
	top:4px;
	left:10px;
	width:70px;
	height:8px;
	background:#eee;
}
.hap-volume-level{
	position:absolute;
	top:4px;
	left:10px;
	width:0px;
	height:8px;
	background:#ffffff;
}
.hap-volume-drag{
	position:absolute;
	top:-6px;
	left:25px;
	width:20px;
	height:20px;
	border-radius: 20px;
	border: 1px solid #eee;
	background:#ffffff;
	pointer-events:none;
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
   	box-sizing: border-box;     
}
.hap-seekbar-inner{
	position:absolute;
	bottom:5px;
	left:20px;
	right:20px;
	height:18px;
	cursor: pointer;
	touch-action: none;
}
.hap-progress-bg{
	position:relative;
	background:#eee;
	width:100%;
	top:5px;
	height:8px;
}
.hap-load-level{
	position:absolute;
	background:#eee;
	top:5px;
	height:8px;
}
.hap-progress-level{
	position:absolute;
	background:#ffffff;
	top:5px;
	height:8px;	
}



#hap-playlist-list{
	display:none;
}
.hap-playlist-holder{
	position:relative;
	top:0px;
	width:100%;
	background:#F0F5F7;
	overflow:hidden;
}
.hap-playlist-inner{
	min-height: 150px;
	max-height:231px;
}
.hap-playlist-item{
	position: relative;
	top:0px;
	left:0px;
	overflow: hidden;
	line-height: 33px;
}
.hap-playlist-item > a {
    border: 0;
}
.hap-playlist-item:nth-child(odd){
	background: #fff; 
}
.hap-playlist-item:last-child {  
	margin-bottom:0px!important;
}
.hap-playlist-selected {
	float:left;
	color:#fff!important;
	text-decoration: none; 
	margin-left: 20px;
	margin-right: 10px;
}
.hap-playlist-item.hap-active{
	background: #6DC7FB!important;
}
.hap-playlist-item:hover{
	background: #6DC7FB!important;
}
.hap-playlist-non-selected {
	float:left;
	color:#ccc;
	text-decoration: none; 
	margin-left: 20px;
	margin-right: 10px;
}
.hap-download, .hap-link, .hap-buy{
	float:right;
	color:#ccc!important;
	font-size: 16px!important;
	width: 30px;
	text-align: center;
	margin-right: 15px;
}
.hap-download i, .hap-link i, .hap-buy i{
	line-height:33px;
	color:inherit;
}


.hap-active a{
	color:#fff!important;
}
.hap-playlist-item:hover a{
	color:#fff!important;
}

.hap-playlist-title{
	font-style: 14px;
	color:inherit;
}

.hap-playlist-filter-msg{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	line-height:140px;
	display: none;
}
.hap-playlist-filter-msg p{
	font-size:18px!important;
	color:#fff!important;
	vertical-align: middle!important;
    text-align:center!important;
	padding:0!important; 	
	margin:0!important; 
	line-height: inherit!important;
}
.hap-bottom-bar{
	position:relative;
	top:0px;
	clear:both;
	height:34px;
	width:100%;
	background:#F0F5F7;
	overflow:hidden;
}
.hap-search-filter{
	position:relative;
	width:125px!important;
	height:18px!important;
	top:50%;
	margin:-9px 0 0 20px!important;
	padding:0!important;
	border:0!important;
	-moz-border-radius:0 !important;
    -webkit-border-radius:0 !important;
	border-radius:0 !important;
	background:#fff !important;
	color:#ccc !important;
	box-shadow:none!important; 
	line-height:1!important; 
	float: left;
	outline:none;
}

.hap-sr-bar-i{
	display: inline-block;
	font-size: 18px!important;
	line-height: 34px!important;
}
.hap-sort-alpha{
	position:relative;
	left:5px;
	top:0px;
	width:25px;
	height:100%;
	text-align: center;
	float: left;
}
.hap-share-item{
	position:relative;
	top:0px;
	right:10px;
	width:25px;
	height:100%;
	margin-right:5px;
	text-align: center;
	float: right;
}





.hap-tooltip{
	position:absolute;
	background:#6DC7FB;
	color:#fff!important;
	text-align:center;
	z-index:10000;
	pointer-events:none;
	display:none;
}
.hap-tooltip p {
	width:inherit;
	font-size:13px!important;
	margin:0 5px !important;
	padding:0 !important;
	line-height:20px !important;
	white-space:nowrap;
	color:inherit;
}
.hap-tooltip-num{
	direction: ltr !important;
}
.hap-download-confirm{
	position:absolute;
	left: 50%;
	top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	opacity:0;
	z-index:1000;
	display:none;
}
.hap-download-confirm p{
	padding:10px!important;
	font-size:18px;
	color:#fff;
	background:#6DC7FB;
	text-align: center;
}
.hap-preloader{
	position:absolute;
	width:36px;
	height:30px;
	top:50%;
	left:50%;
	margin-left:-16px;
	margin-top:-15px;
	background: #111 url('../data/loading.gif') no-repeat center center; 
}


/* flash or yt */
.hap-sound-holder{
	position:absolute;
	width:100px;
	height:100px;
}
.hap-force-hidden{
	position:absolute!important;
	top:0px;
	left:-10000px!important;
	width:320px;
	height:240px;
}
[dir=rtl] .hap-force-hidden {
    right:-10000px!important;
}
.hap-youtube-holder{
	left:0px!important;
}
/* flash or yt */

.hap-hidden {
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.hap-visible {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}

/* scroll */
.hap-playlist-inner .mCSB_inside > .mCSB_container {
    margin-right: 30px;
}




