*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{ 
	text-decoration: none; 
}
body {
	background: url("../data/pattern/dark.jpg") repeat;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}



#hap-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}
.hap-player-holder{
	position:fixed;
	width:100%;
	height:40px;
	bottom:0px;
	left:0;
}
.hap-icon-color{
	color:#fff !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-icon-rollover-color{
	color:#fff !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-contr-btn{
	background: #404040; /* Old browsers */
	background: -moz-linear-gradient(top,  #404040 0%, #252525 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #404040 0%,#252525 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #404040 0%,#252525 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#404040', endColorstr='#252525',GradientType=0 ); /* IE6-9 */
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;     
	-moz-box-shadow: 1px 1px 6px #333;
	-webkit-box-shadow: 1px 1px 6px #333;
	box-shadow: 1px 1px 6px #333;  
}
.hap-contr-btn-i{
	position:relative;
	top:0px;
	left:0px;
	width:40px;	
	height:100%;
	text-align: center;
	display: inline-block;
	font-size: 16px!important;
	line-height: 40px!important;
}
.hap-contr-btn-vol-i{
	font-size: 18px!important;
}
.hap-prev-toggle{
	position:absolute;
	width:40px;	
	height:100%;
	left:0px;
	border-right: 1px solid #555;
	border-right-color: rgba( 255, 255, 255, .1 );
}
.hap-prev-toggle:hover{
	background: #222;
}
.hap-playback-toggle{
	position:absolute;
	width:40px;	
	height:100%;
	left:40px;
	border-left: 1px solid #111;
	border-left-color: rgba( 0, 0, 0, .25 );
	border-right: 1px solid #555;
	border-right-color: rgba( 255, 255, 255, .1 );
}
.hap-playback-toggle:hover{
	background: #222;
}
.hap-next-toggle{
	position:absolute;
	width:40px;	
	height:100%;
	left:80px;
	border-left: 1px solid #111;
	border-left-color: rgba( 0, 0, 0, .25 );
	border-right: 1px solid #555;
	border-right-color: rgba( 255, 255, 255, .1 );
}
.hap-next-toggle:hover{
	background: #222;
}
.hap-media-time-current{
	position:absolute;
	width:60px;	
	height:100%;
	left:120px;
	color:white;
	text-align: center;
	line-height: 40px;
	border-left: 1px solid #111;
	border-left-color: rgba( 0, 0, 0, .25 );
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	margin:0;
}
.hap-seekbar-inner{
	position:absolute;
	height:100%;
	left:180px;
	right:180px;
	touch-action: none;
	cursor: pointer;
}
.hap-progress-bg{
	position:absolute;
	height:10px;
	background:#222;
	top:50%;
	margin-top:-5px;
	left:10px;
	right:10px;
	-webkit-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
	-moz-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
	box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.hap-load-level{
	position:absolute;
	height:10px;
	background:#444;
	top:50%;
	margin-top:-5px;
	left:10px;
	right:10px;
	width:0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.hap-progress-level{
	position:absolute;
	height:10px;
	background:#fff;
	top:50%;
	margin-top:-5px;
	left:10px;
	right:10px;
	width:0px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.hap-media-time-total{
	position:absolute;
	width:60px;	
	height:100%;
	right:120px;
	color:white;
	text-align: center;
	line-height: 40px;
	border-right: 1px solid #555;
	border-right-color: rgba( 255, 255, 255, .1 );
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
	margin:0;
}
.hap-info-toggle{
	position:absolute;
	width:40px;	
	height:100%;
	right:80px;
	border-left: 1px solid #111;
	border-left-color: rgba( 0, 0, 0, .25 );
	border-right: 1px solid #555;
	border-right-color: rgba( 255, 255, 255, .1 );
	cursor: pointer;
}
.hap-info-toggle:hover{
	background: #222;
}
.hap-playlist-toggle{
	position:absolute;
	width:40px;	
	height:100%;
	right:40px;
	border-left: 1px solid #111;
	border-left-color: rgba( 0, 0, 0, .25 );
	border-right: 1px solid #555;
	border-right-color: rgba( 255, 255, 255, .1 );
	cursor: pointer;
}
.hap-playlist-toggle:hover{
	background: #222;
}
.hap-volume-wrapper{
	position:absolute;
	width:40px;	
	height:100%;
	right:0px;
}
.hap-player-volume{
	width:40px;	
	height:100%;
	border-left: 1px solid #111;
	border-left-color: rgba( 0, 0, 0, .25 );
	border-right: 1px solid #555;
	border-right-color: rgba( 255, 255, 255, .1 );
}
.hap-player-volume:hover{
	background: #222;
}
.hap-volume-seekbar{
	position:absolute;
	top:-80px;
	left:0px;
	width:40px;
	height:80px;
	display:none;
	cursor: pointer;
	touch-action: none;
}
.hap-volume-wrapper:hover .hap-volume-seekbar{
	display: block;
}
.hap-volume-bg{
	position:absolute;
	width:10px;
	height:60px;
	background:#222;
	left:15px;
	bottom:10px;
	-webkit-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
	-moz-box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
	box-shadow: -1px -1px 0 rgba( 0, 0, 0, .5 ), 1px 1px 0 rgba( 255, 255, 255, .1 );
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.hap-volume-level{
	position:absolute;
	width:10px;
	height:30px;
	background:#fff;
	left:15px;
	bottom:10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.hap-info-bar{
	position: fixed;
	left: 50%;
	top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	max-width:400px;
	width:100%;
	z-index:50;
	padding:20px 20px 10px 20px;
	border: 1px solid #111;
	border-color: rgba( 0, 0, 0, .25 );
	display: none;
	-moz-box-shadow: 3px 3px 12px #1F1A1A;
	-webkit-box-shadow: 3px 3px 12px #1F1A1A;
	box-shadow: 3px 3px 12px #1F1A1A;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box; 
}
.hap-player-title{
	margin:0;
	margin-right: 20px;
	margin-bottom: 10px;
	padding:0;
	color:#fff;
}
.hap-player-desc{
	margin:0;
	margin-right: 20px;
	margin-bottom: 10px;
	padding:0;
	color:#aaa;
}
.hap-share-holder{
	height:30px;
}
.hap-share-item{
	position:relative;
	bottom:0px;
	left:0px;
	width:25px;
	height:30px;
	margin-right:5px;
	text-align: center;
	float: left;
}
.hap-sr-bar-i{
	display: inline-block;
	font-size: 15px!important;
	line-height: 30px!important;
}
.hap-info-close{
	position: absolute;
	right:0px;
	top:0px;
	cursor: pointer;
}



#hap-playlist-list{
	display:none;
}
.hap-playlist-holder{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
    background: rgba(0,0,0,0.1);
}
.hap-playlist-inner {
    height: 100%;
}
.hap-playlist-item{
	width:300px;
	height:168px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	border:5px solid #eee;
	overflow: hidden;
}
.hap-playlist-non-selected {
	position:relative;
	display:block;
	width:100%;
	height:100%;
	text-decoration: none; 
}
.hap-playlist-selected {
	position:relative;
	display:block;
	width:100%;
	height:100%;
	text-decoration: none; 
}
.hap-playlist-thumb{
	position:absolute;
	top:0px;
	left:0px;
	width:300px;
	height:168px;
	background:#111;
	overflow:hidden;
}
.hap-playlist-thumb img{
	display:block;
	width:100%;
	height:100%;
}
.hap-playlist-title{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	padding:5px;
	font-size:15px;
	color:#fff;
	background: rgba(0, 0, 0, 0.6);
	display: none;
}




.hap-tooltip{
	position:absolute;
	background:#222;
	color:#fff!important;
	text-align:center;
	z-index:10000;
	border:1px solid #333;
	pointer-events:none;
	display:none;
}
.hap-tooltip p {
	width:inherit;
	font-size:12px!important;
	margin:0 5px !important;
	padding:0 !important;
	line-height:20px !important;
	white-space:nowrap;
	color:inherit;
}
.hap-tooltip-num{
	direction: ltr !important;
}


/* flash or yt */
.hap-sound-holder{
	position:absolute;
	width:100px;
	height:100px;
}
.hap-force-hidden{
	position:absolute!important;
	top:0px;
	left:-10000px!important;
	width:320px;
	height:240px;
}
[dir=rtl] .hap-force-hidden {
    right:-10000px!important;
}
.hap-youtube-holder{
	left:0px!important;
}
/* flash or yt */

.hap-hidden {
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.hap-visible {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}



.hap-preloader{
    position: fixed;
    width: 80px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.hap-preloader span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#fff;
    position:absolute;
    animation: hap_preloader 1.5s  infinite ease-in-out;
}
.hap-preloader span:nth-child(2){
	left:11px;
	animation-delay: .2s;
}
.hap-preloader span:nth-child(3){
	left:22px;
	animation-delay: .4s;
}
.hap-preloader span:nth-child(4){
	left:33px;
	animation-delay: .6s;
}
.hap-preloader span:nth-child(5){
	left:44px;
	animation-delay: .8s;
}
@keyframes hap_preloader {
    0% {height:5px;transform:translateY(0px);}
    25% {height:30px;transform:translateY(15px);}
    50% {height:5px;transform:translateY(0px);}
    100% {height:5px;transform:translateY(0px);}
}



/* scroll */
.hap-playlist-inner .mCSB_inside > .mCSB_container {
    margin-right: 30px;
}



@media only screen and (max-width: 450px) {
	.hap-media-time-total, .hap-media-time-current{
		display: none;
	}
	.hap-seekbar-inner{
		left:120px;
		right:120px;
	}
	.hap-next-toggle{
		border-right: none;
	}
	.hap-info-toggle{
		border-left: none;
	}
}