*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{ 
	text-decoration: none; 
}
body {
	background: #614385; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #614385 , #516395); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #614385 , #516395); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}


#hap-wrapper{
	position: relative;
	top:100px;
	font-family: Century Gothic, sans-serif;
	max-width: 860px;
	min-width: 320px;
	left:50%;
	-webkit-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
  	transform: translateX(-50%);
  	-moz-box-shadow: 1px 1px 25px #111;
	-webkit-box-shadow: 1px 1px 25px #111;
	box-shadow: 1px 1px 25px #111;
	overflow: hidden;
}
.hap-player-wrapper {
    float: left;
    width: 100%;
}
.hap-player-holder{
	position: relative;
	height:300px;
	background:#111;
	margin-right: 310px;
}
.hap-icon-color{
	color:#eee !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-icon-rollover-color{
	color:#F0C755 !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-contr-btn-i{
	position: absolute;
    top: 0;
    left: 0;
	width:35px;
	height:100%;
	text-align: center;
	display: inline-block;
	font-size: 17px!important;
	line-height: 35px!important;
}
.hap-player-thumb{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	overflow:hidden;
}
.hap-player-thumb img{
	display:block;
	position: absolute;
	max-width:none;
}
.hap-player-controls{
	position:absolute;
	width:100%;
	height:35px;
	bottom:0px;
	left:0px;
	background: #464361;
}

.hap-loop-toggle{
	position: absolute;
	width:35px;
	height:100%;
	left:5px;
	top:0;
}
.hap-player-controls-inner{
	position: absolute;
	top:0;
	width:150px;
	height: 100%;
	left:50%;
	margin-left: -75px;
}
.hap-prev-toggle{
	position: absolute;
	width:35px;
	height:100%;
	left:5px;
	top:0;
}
.hap-playback-toggle{
	position:absolute;
	top:0px;
	width:40px;
	height:100%;
	left:50%;
	-webkit-transform: translate(-50%, 0);
  	-ms-transform: translate(-50%, 0);
  	transform: translate(-50%, 0);
}
.hap-next-toggle{
	position:absolute;
	width:35px;
	height:100%;
	right:5px;
	top:0;
}
.hap-random-toggle{
	position: absolute;
	width:35px;
	height:100%;
	right:5px;
	top:0;
}

.hap-media-time-current{
	position:absolute;
	top:0px;
	left:15px;
	height:100%;
	line-height:35px !important;
	text-align: center;
	padding: 0px!important;
	color:#eee !important;
	font-size:13px!important;
	margin:0;
	width:auto;
}
.hap-media-time-total{
	position:absolute;
	top:0px;
	right:15px;
	height:100%;
	line-height:35px !important;
	text-align: center;
	padding: 0px!important;
	color:#eee !important;
	font-size:13px!important;
	margin:0;
	width:auto;
}

.hap-seekbar-inner{
	position:absolute;
	top:0px;
	left:60px;
	right:60px;
	height:100%;
	cursor: pointer;
	touch-action: none;
}
.hap-progress-bg{
	position:absolute;
	background:#D1D1D1;
	width:100%;
	height:5px;
	top:50%;
	margin-top:-3px;
	border-radius: 10px;
}
.hap-load-level{
	position:absolute;
	background:#D1D1D1;
	height:5px;
	top:50%;
	margin-top:-3px;
	border-radius: 10px;
}
.hap-progress-level{
	position:absolute;
	background:#F0C755;
	height:5px;
	top:50%;
	margin-top:-3px;
	border-radius: 10px;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}


.hap-player-volume{
	position:absolute;
	height:35px;
	width:35px;
	left:10px;
	bottom:40px;
}
.hap-volume-seekbar{
	position:absolute;
	bottom:40px;
	left:40px;
	width:80px;
	height:35px;
	margin-right: 10px;
	cursor: pointer;
	touch-action: none;
}
.hap-volume-bg{
	position:absolute;
	top:15px;
	left:10px;
	width:60px;
	height:5px;
	background:#D1D1D1;
	border-radius: 10px;
}
.hap-volume-level{
	position:absolute;
	top:15px;
	left:10px;
	width:60px;
	height:5px;
	background:#F0C755;
	border-radius: 10px;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}




#hap-playlist-list{
	display:none;
}
.hap-playlist-holder{
	position: relative;
	width:310px;
	height:300px;
	margin-left: -310px;
  	float: right;
}
.hap-playlist-inner{
	height:265px;
	height: -webkit-calc(100% - 35px);
    height: -moz-calc(100% - 35px);
    height: calc(100% - 35px);
}
.hap-playlist-item{
	position: relative;
	top:0px;
	left:0px;
	height:70px;
	background: rgba(30,30,30,0.6);
	border-bottom:1px solid #555;
	overflow: hidden;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box; 
}
.hap-playlist-thumb{
	display:block;
	position:relative;
	top:0px;
	left:0px;
	width:90px;
	height:70px;
	float:left;
	overflow:hidden;
}
.hap-playlist-thumb img{
	display:block;
	height:100%;
	width:auto!important;
	margin:0 auto;
}
.hap-playlist-title{
	padding: 10px;
	font-size:14px;
    display: table-cell;
    vertical-align: middle;
	color:inherit;
}
.hap-playlist-item:last-child {  
	border-bottom:0px;
}
.hap-playlist-selected {
	display: table;
	color: #F0C755;
	text-decoration: none; 
}
.hap-playlist-non-selected {
	display: table;
	color: #eee;
	text-decoration: none; 
}


.hap-bottom-bar{
	position:relative;
	left:0px;
	bottom:0px;
	height:35px;
	width:100%;
	background:#464361;
	border-left: 1px solid #555;
	overflow:hidden;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box; 
}


.hap-tooltip{
	position:absolute;
	background: #464361;
	color:#fff!important;
	text-align:center;
	z-index:10000;
	pointer-events:none;
	-moz-box-shadow: 1px 1px 15px #111;
	-webkit-box-shadow: 1px 1px 15px #111;
	box-shadow: 1px 1px 15px #111;
	display:none;
}
.hap-tooltip p {
	width:inherit;
	font-size:12px!important;
	margin:0 5px !important;
	padding:0 !important;
	line-height:20px !important;
	white-space:nowrap;
	color:inherit;
}
.hap-tooltip-num{
	direction: ltr !important;
}
.hap-download-confirm{
	position:absolute;
    left:50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	border:1px solid #555;
	opacity:0;
	z-index:1000;
	display:none;
}
.hap-download-confirm p{
	padding:10px 5px !important;
	font-size:14px;
	color:#fff;
	background:#333;
	text-align: center;
}
.hap-preloader{
	position:absolute;
	width:36px;
	height:30px;
	top:50%;
	left:50%;
	margin-left:-16px;
	margin-top:-15px;
	background: #111 url('../data/loading.gif') no-repeat center center; 
}



/* flash or yt */		 
.hap-sound-holder{
	position:absolute;
	width:100px;
	height:100px;
}
.hap-force-hidden{
	position:absolute!important;
	top:0px;
	left:-10000px!important;
	width:320px;
	height:240px;
}
[dir=rtl] .hap-force-hidden {
    right:-10000px!important;
}
.hap-youtube-holder{
	left:0px!important;
}		 
		  
.hap-hidden {
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.hap-visible {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}					  


/* scroll */
.hap-playlist-inner .mCSB_inside > .mCSB_container {
    margin-right: 30px;
}



@media only screen and (max-width: 600px) {
	.hap-player-holder{
		margin-right:0px;
	}
	.hap-playlist-holder{
		width: 100%;
		clear: left;
	}
}

/*javascript media queires
.hap-player-holder-mq{
	margin-right:0px;
}
.hap-playlist-holder-mq{
	width: 100%;
	clear: left;
}*/
