*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{ 
	text-decoration: none; 
}
body {
	background: #333;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x:hidden;
}

#hap-wrapper{
	position: relative;
	max-width:420px;
	width:100%;
	min-height: 600px;
    top: 0;
    left: 0;
	font-family: Helvetica, Arial, sans-serif;
}
.hap-sidebar{
	position: absolute;
	height:100%;
	width:100%;
	left:0;
	top:0;
	background: #ffd454;
}
.hap-player-toggle{
	position:absolute;
	top:0px;
	right:-40px;
	width:40px;	
	height:40px;
	cursor: pointer;
	background: #ffd454;
}

.hap-icon-color{
	color:#eee !important;
}
.hap-icon-rollover-color{
	color:#fff !important;
}
.hap-contr-btn-i{
	position:relative;
	top:0px;
	left:0px;
	width:40px;	
	height:40px;
	text-align: center;
	display: inline-block;
	font-size: 18px!important;
	line-height: 40px!important;
}
.hap-contr-btn{
	position:relative;
	top:0px;
	left:0px;
	width:40px;	
	height:40px;
}

.hap-player-thumb{
	margin:20px;
	height:200px;
	overflow:hidden;
}
.hap-player-thumb img{
	display:block;
	height:100%;
	width:auto!important;
	min-width: 100%;
}



.hap-player-controls{
	position: relative;
	height:40px;
	width:150px;
	margin-left: 20px;
	float: left;
}
.hap-prev-toggle{
	position:absolute;
	width:40px;	
	height:40px;
	left:0px;
}
.hap-playback-toggle{
	position:absolute;
	width:40px;	
	height:40px;
	left:50px;
}
.hap-next-toggle{
	position:absolute;
	width:40px;	
	height:40px;
	left:100px;
}

.hap-seekbar-inner{
	position: relative;
	margin-left:10px;
	margin-right:10px;
	height:26px;
	touch-action: none;
	cursor: pointer;
	clear: both;
}
.hap-progress-bg{
	position:absolute;
	height:2px;
	background:#aaa;
	top:10px;
	left:10px;
	right:10px;
}
.hap-load-level{
	position:absolute;
	height:2px;
	background:#aaa;
	top:10px;
	left:10px;
	right:10px;
	width:0px;
}
.hap-progress-level{
	position:absolute;
	height:2px;
	background:#fff;
	top:10px;
	left:10px;
	right:10px;
	width:0px;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}

.hap-media-time-current{
	position: relative;
	top:2px;
	margin:0;
	margin-left:20px;
	padding:0;
	color:#aaa;
	float: left;
	text-align: center;
	font-size: 12px;
}
.hap-media-time-total{
	position: relative;
	top:2px;
	margin:0;
	margin-right:20px;
	padding:0;
	color:#aaa;
	float: right;
	text-align: center;
	font-size: 12px;
}


.hap-volume-wrapper{
	position:relative;
	margin-right:20px;
	width:40px;
	height:40px;
	float: right;
}
.hap-volume-wrapper:hover .hap-volume-seekbar{
	display: block;
}
.hap-player-volume{
	width:40px;	
	height:40px;
}
.hap-volume-seekbar{
	position:absolute;
	left:-70px;
	top:10px;
	width:70px;
	height:20px;
	float:left;
	cursor: pointer;
	touch-action: none;
	display: none;
}
.hap-volume-bg{
	position:absolute;
	top:8px;
	left:10px;
	width:50px;
	height:4px;
	background:#aaa;
}
.hap-volume-level{
	position:absolute;
	top:8px;
	left:10px;
	width:0px;
	height:4px;
	background:#ffffff;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}



#hap-playlist-list{
	display:none;
}
.hap-playlist-holder{
	overflow: hidden;
}
.hap-playlist-inner{
	margin:20px;
	min-height:150px;
	max-height:200px;
}
.hap-playlist-item{
	position: relative;
	top:0px;
	left:0px;
	line-height: 30px;
	overflow: hidden;
}
.hap-playlist-item > a {
    border: 0;
}
.hap-playlist-non-selected {
	display: block;
	width: 100%;
	color:#fff;
	text-decoration: none; 
}
.hap-playlist-selected {
	display: block;
	width: 100%;
	color:#ccc;
	background: #fff;
	text-decoration: none; 
}
.hap-playlist-title{
	line-height: 30px;
	margin-left: 5px;
	font-size:14px;
	color:inherit;
}



.hap-tooltip{
	position:absolute;
	background: #fff;
	color:#ccc!important;
	-moz-box-shadow: 1px 1px 8px #111;
	-webkit-box-shadow: 1px 1px 8px #111;
	box-shadow: 1px 1px 10px #555;
	text-align:center;
	z-index:10000;
	pointer-events:none;
	display:none;
}
.hap-tooltip p {
	width:inherit;
	font-size:12px!important;
	margin:0 5px !important;
	padding:0 !important;
	line-height:20px !important;
	white-space:nowrap;
	color:inherit;
}
.hap-tooltip-num{
	direction: ltr !important;
}


/* flash or yt */
.hap-sound-holder{
	position:absolute;
	width:100px;
	height:100px;
}
.hap-force-hidden{
	position:absolute!important;
	top:0px;
	left:-10000px!important;
	width:320px;
	height:240px;
}
[dir=rtl] .hap-force-hidden {
    right:-10000px!important;
}
.hap-youtube-holder{
	left:0px!important;
}
/* flash or yt */

.hap-hidden {
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.hap-visible {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}



/* scroll */
.hap-playlist-inner .mCSB_inside > .mCSB_container {
    margin-right: 30px;
}