body {
	background: #eee;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1{
	margin-left:30px;
	margin-top:30px;
	color:white;
}
.content{
	max-width:800px;
	margin:30px;
	line-height: 28px;
}
.hap_inline_link{
	text-decoration: underline;
	color:green;
}
.hap_inline_player{
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 150px;
	height: 28px;
	margin-right: 5px;
}



.hap-player-holder{
	position:relative;
	width:150px;
	height:26px;
	background-image: -moz-linear-gradient(top, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6));
    background-image: -webkit-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    background-image: -ms-linear-gradient(top, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 );
    border: 1px solid #cbcbcb;
}
.hap-icon-color{
	color:#666 !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-icon-rollover-color{
	color:#fff !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-contr-btn{
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;       
}
.hap-contr-btn-i{
	position:relative;
	top:0px;
	left:0px;
	width:30px;	
	height:26px;
	text-align: center;
	display: inline-block;
	font-size: 14px!important;
	line-height: 26px!important;
}
.hap-playback-toggle{
	position:absolute;
	width:30px;	
	height:26px;
	left:0px;
	border-right: 1px solid #ccc;
}
.hap-seekbar-inner{
	position:absolute;
	height:26px;
	top:0px;
	left:30px;
	right:30px;
	touch-action: none;
	cursor: pointer;
	border-right: 1px solid #ccc;
}
.hap-progress-bg{
	position:absolute;
	height:3px;
	background:#666;
	top:12px;
	left:10px;
	right:10px;
}
.hap-load-level{
	position:absolute;
	height:3px;
	background:#888;
	top:12px;
	left:10px;
	right:10px;
	width:0px;
}
.hap-progress-level{
	position:absolute;
	height:3px;
	background:#fff;
	top:12px;
	left:10px;
	right:10px;
	width:0px;
}
.hap-volume-wrapper{
	position:absolute;
	width:30px;	
	height:26px;
	right:0px;
	top:0px;
}
.hap-volume-wrapper:hover .hap-volume-seekbar{
	display: block;
}
.hap-player-volume{
	width:30px;	
	height:26px;
}
.hap-volume-seekbar{
	position:absolute;
	top:-80px;
	left:1px;
	width:30px;
	height:80px;
	display:none;
	cursor: pointer;
	touch-action: none;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    border: 1px solid #cbcbcb;
}
.hap-volume-bg{
	position:absolute;
	width:3px;
	height:60px;
	background:#888;
	left:13px;
	bottom:10px;
}
.hap-volume-level{
	position:absolute;
	width:3px;
	height:30px;
	background:#fff;
	left:13px;
	bottom:10px;
}


.hap-tooltip{
	position:absolute;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	color:#666!important;
	text-align:center;
	z-index:10000;
	border:1px solid #ccc;
	pointer-events:none;
	-moz-box-shadow: 1px 1px 1px #ddd;
	-webkit-box-shadow: 1px 1px 1px #ddd;
	box-shadow: 1px 1px 1px #ddd;
	display:none;
}
.hap-tooltip p {
	width:inherit;
	font-size:12px!important;
	margin:0 5px !important;
	padding:0 !important;
	line-height:20px !important;
	white-space:nowrap;
	color:inherit;
}
.hap-tooltip-num{
	direction: ltr !important;
}