*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{ 
	text-decoration: none; 
}
body {
	background: url("../data/pattern/dark/13.png") repeat;                                   
    -webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}



#hap-wrapper{
	position: relative;
	top:100px;
	font-family: Arial, Helvetica, sans-serif;
	max-width: 860px;
	min-width: 320px;
	left:50%;
	-webkit-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
  	transform: translateX(-50%);
  	-moz-box-shadow: 1px 1px 15px #111;
	-webkit-box-shadow: 1px 1px 15px #111;
	box-shadow: 1px 1px 15px #111;
	overflow: hidden;
}
.hap-player-wrapper {
    float: left;
    width: 100%;
}
.hap-player-holder{
	position: relative;
	height:300px;
	background:#111;
	margin-right: 310px;
}
.hap-icon-color{
	color:#eee !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-icon-rollover-color{
	color:#de5362 !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-contr-btn-i{
	position: absolute;
    top: 0;
    left: 0;
	width:35px;
	height:35px;
	text-align: center;
	display: inline-block;
	font-size: 17px!important;
	line-height: 35px!important;
}
.hap-player-thumb{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	overflow:hidden;
}
.hap-player-thumb img{
	display:block;
	position: absolute;
	max-width:none;
}

.hap-player-controls{
	position:absolute;
	width:100%;
	height:35px;
	bottom:0px;
	left:0px;
	background: #333;
}

.hap-playback-toggle{
	position:absolute;
	top:0;
	left:5px;
	width:30px;
	height:100%;
}
.hap-seekbar-inner{
	position:absolute;
	top:-10px;
	left:0px;
	width: 100%;
	height:10px;
	cursor: pointer;
	touch-action: none;
}
.hap-progress-bg{
	position:absolute;
	width:100%;
	top:3px;
	height:7px;
	background: #aaa;
}
.hap-load-level{
	position:absolute;
	background: #aaa;
	top:3px;
	height:7px;
}
.hap-progress-level{
	position:absolute;
	background: #de5362;
	top:3px;
	height:7px;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}


.hap-player-volume{
	position:relative;
	height:100%;
	width:35px;
	top:0px;
	float:right;
}
.hap-volume-seekbar{
	position:relative;
	top:0px;
	width:80px;
	height:100%;
	float:right;
	margin-right: 10px;
	cursor: pointer;
	touch-action: none;
}
.hap-volume-bg{
	position:absolute;
	top:15px;
	left:10px;
	width:60px;
	height:5px;
	background:#aaa;
}
.hap-volume-level{
	position:absolute;
	top:15px;
	left:10px;
	width:60px;
	height:5px;
	background:#de5362;
	-webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
}




#hap-playlist-list{
	display:none;
}
.hap-playlist-holder{
	position: relative;
	width:310px;
	height:300px;
	background: rgba(30,30,30,0.6);
	margin-left: -310px;
  	float: right;
}
.hap-playlist-inner{
	height: 100%;
}
.hap-playlist-item{
	position: relative;
	top:0px;
	left:0px;
	height:100px;
	border-bottom:1px solid #555;
	overflow: hidden;
}
.hap-playlist-thumb{
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	overflow:hidden;
}
.hap-playlist-thumb img{
	display:block;
	width:100%;
	height:auto!important;
	min-height: 100%;
	margin:0 auto;
}
.hap-playlist-title{
	display:block;
	position:absolute;
	width: 100%;
	bottom:0;
	padding:5px 10px;
	overflow:hidden;
	font-size:16px;
	background: rgba(30,30,30,0.3);
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
   	box-sizing: border-box;    
   	line-height:normal;
	color:inherit;
}
.hap-playlist-item:last-child {  
	border-bottom:0px;
}
.hap-playlist-selected {
	display: block;
	width:100%;
	height: 100%;
	color: #fff;
	text-decoration: none; 
}
.hap-playlist-non-selected {
	display: block;
	width:100%;
	height: 100%;
	color: #ccc;
	text-decoration: none; 
}





.hap-tooltip{
	position:absolute;
	background: rgb(222,83,98);
	text-align:center;
	color:#fff!important;
	z-index:10000;
	pointer-events:none;
	display:none;
}
.hap-tooltip p {
	width:inherit;
	font-size:12px!important;
	margin:0 5px !important;
	padding:0 !important;
	line-height:20px !important;
	white-space:nowrap;
	color:inherit;
}
.hap-tooltip-num{
	direction: ltr !important;
}
.hap-download-confirm{
	position:absolute;
    left:50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	border:1px solid #555;
	opacity:0;
	z-index:1000;
	display:none;
}
.hap-download-confirm p{
	padding:10px 5px !important;
	font-size:14px;
	color:#fff;
	background:#333;
	text-align: center;
}
.hap-preloader{
	position:absolute;
	width:36px;
	height:30px;
	top:50%;
	left:50%;
	margin-left:-16px;
	margin-top:-15px;
	background: #111 url('../data/loading.gif') no-repeat center center; 
}



/* flash or yt */		 
.hap-sound-holder{
	position:absolute;
	width:100px;
	height:100px;
}
.hap-force-hidden{
	position:absolute!important;
	top:0px;
	left:-10000px!important;
	width:320px;
	height:240px;
}
[dir=rtl] .hap-force-hidden {
    right:-10000px!important;
}
.hap-youtube-holder{
	left:0px!important;
}		 
		  
.hap-hidden {
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.hap-visible {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}					  


/* scroll */
.hap-playlist-inner .mCSB_inside > .mCSB_container {
    margin-right: 30px;
}


@media only screen and (max-width: 600px) {
	.hap-player-holder{
		margin-right:0;
	}
	.hap-playlist-holder{
		width: 100%;
		clear: left;
	}
}

/*javascript media queires
.hap-player-holder-mq{
	margin-right:0px;
}
.hap-playlist-holder-mq{
	width: 100%;
	clear: left;
}*/
