*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{ 
	text-decoration: none; 
}
body {
	background: url("../data/pattern/3.png") repeat;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}


#hap-wrapper .fa{
    text-shadow: 1px 1px 1px #ccc;
}

#hap-wrapper{
	position:relative;
	min-width:320px;
	max-width:800px;
	top:50px;
	margin: 0 auto;
	font-family: Helvetica, Arial, sans-serif;
	opacity: 0;
}
.hap-player-holder{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	padding: 50px 0;
	height: 100%;
}
.hap-icon-color{
	color:#fff !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-icon-rollover-color{
	color:#ccc !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-contr-btn-i{
	position: absolute;
    top: 0;
    left: 0;
	width:25px;
	height:25px;
	text-align: center;
	display: inline-block;
	font-size: 20px!important;
	line-height: 25px!important;
}
.hap-player-thumb-wrapper{
	position:relative;
	left:0px;
	overflow:hidden;
	-moz-box-shadow: 1px 1px 5px #aaa;
	-webkit-box-shadow: 1px 1px 5px #aaa;
	box-shadow: 1px 1px 5px #aaa;
}
.hap-poster{
	position: relative;
	width:100%;
	max-height:400px;
	background:#222;
	overflow:hidden;
	border: 10px solid #fff;
	-webkit-box-sizing: border-box; 
   	-moz-box-sizing: border-box;    
    box-sizing: border-box;     
}
.hap-poster img{
	display:block;
	width:100%;
	margin:0 auto;
}
.hap-media-title-mask{
	position:absolute;
	top:20px;
	left:20px;
	width:60%;
	width: -webkit-calc(100% - 100px);
    width: -moz-calc(100% - 100px);
    width: calc(100% - 100px);
	height:30px;
	overflow:hidden;
}
.hap-media-title{
	position:absolute;
	top:1px;
	left:0px;
	white-space: nowrap;
	font-size:18px;
	color:#fff;
	text-shadow: 1px 1px 1px #bbb;
}
.hap-media-time-current{
	position:absolute;
	bottom:0px;
	right:0;
	height:20px;
	line-height:20px !important;
	text-align: center;
	margin:0!important;
	padding-right:3px!important;
	color:#999 !important;
	font-size:18px!important;
	pointer-events:none;
	width:auto;
}
.hap-media-time-total{
	position:absolute;
	bottom:0px;
	right:0px;
	height:20px;
	line-height:20px !important;
	text-align: center;
	margin:0!important;
	padding-right:3px!important;
	color:#999 !important;
	font-size:18px!important;
	pointer-events:none;
	width:auto;
}
.hap-player-controls{
	position:absolute;
	bottom:5px;
	left:20px;
	right:20px;
}
.hap-prev-toggle{
	position:relative;
	margin-left:-5px;
	width:25px;
	height:25px;
	float:left;
	top:7px;
	margin-right:5px;
}
.hap-playback-toggle{
	position:relative;
	top:0px;
	width:40px;
	height:40px;
	float:left;
	margin-right:5px;
}
.hap-playback-toggle i{
	width:40px;
	height:40px;
	font-size: 30px!important;
	line-height:40px!important;
}
.hap-next-toggle{
	position:relative;
	width:25px;
	height:25px;
	float:left;
	top:7px;
	margin-right:20px;
}

.hap-random-toggle{
	position:relative;
	width:25px;
	height:25px;
	margin-right:10px;
	top:7px;
	float:right;
}
.hap-loop-toggle{
	position:relative;
	width:25px;
	height:25px;
	top:7px;
	float:right;
}

.hap-volume-seekbar{
	position:relative;
	left:0px;
	top:11px;
	width:90px;
	height:16px;
	float:left;
	cursor: pointer;
	touch-action: none;
}
.hap-volume-bg{
	position:absolute;
	top:4px;
	left:10px;
	width:70px;
	height:8px;
	background:#ccc;
	-moz-box-shadow: 1px 1px 1px #aaa;
	-webkit-box-shadow: 1px 1px 1px #aaa;
	box-shadow: 1px 1px 1px #ccc;
}
.hap-volume-level{
	position:absolute;
	top:4px;
	left:10px;
	width:0px;
	height:8px;
	background:#ffffff;
}
.hap-volume-drag{
	position:absolute;
	top:-6px;
	left:25px;
	width:20px;
	height:20px;
	border-radius: 20px;
	-moz-box-shadow: 1px 1px 1px #aaa;
	-webkit-box-shadow: 1px 1px 1px #aaa;
	box-shadow: 1px 1px 1px #aaa;
	background:#ffffff;
	pointer-events:none;
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
   	box-sizing: border-box;     
}
.hap-seekbar-inner{
	position:absolute;
	top:10px;
	left:10px;
	right:10px;
	bottom:10px;
	cursor: pointer;
	touch-action: none;
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
   	box-sizing: border-box;
   	overflow: hidden;
}
.hap-progress-bg{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}
.hap-progress-level{
	position:absolute;
	top:0px;
	left:0px;
	height:100%;
	background: #111;
	background-color: rgba(17, 17, 17, 0.3);
}


#hap-playlist-list{
	display:none;
}


.hap-bottom-bar{
	position:relative;
	top:0px;
	clear:both;
	height:34px;
	width:100%;
	background:#E9EBEC;
	overflow:hidden;
	display: none;
}

.hap-share-toggle{
	position:absolute;
	width:25px;
	height:25px;
	top:20px;
	right:20px;
}
.hap-share-holder{
	position:absolute;
	width:150px;	
	height:25px;
	top:0;
	right:25px;
	display: none;
	background: url("../data/pattern/3.png") repeat;
}
.hap-share-item{
	position:relative;
	top:0px;
	right:10px;
	width:25px;
	height:34px;
	margin-right:5px;
	text-align: center;
	float: right;
}





.hap-tooltip{
	position:absolute;
	background:#ccc;
	text-align:center;
	z-index:10000;
	pointer-events:none;
	-moz-box-shadow: 1px 1px 5px #ccc;
	-webkit-box-shadow: 1px 1px 5px #ccc;
	box-shadow: 1px 1px 5px #aaa;
	display:none;
}
.hap-tooltip p {
	width:inherit;
	font-size:13px!important;
	color:#fff!important;
	margin:0 5px !important;
	padding:0 !important;
	line-height:20px !important;
	white-space:nowrap;
	color:inherit;
}
.hap-tooltip-num{
	direction: ltr !important;
}
.hap-download-confirm{
	position:absolute;
	left: 50%;
	top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	opacity:0;
	z-index:1000;
	display:none;
}
.hap-download-confirm p{
	padding:10px!important;
	font-size:18px;
	color:#fff;
	background:#6DC7FB;
	text-align: center;
}



/* flash or yt */
.hap-sound-holder{
	position:absolute;
	width:100px;
	height:100px;
}
.hap-force-hidden{
	position:absolute!important;
	top:0px;
	left:-10000px!important;
	width:320px;
	height:240px;
}
[dir=rtl] .hap-force-hidden {
    right:-10000px!important;
}
.hap-youtube-holder{
	left:0px!important;
}
/* flash or yt */

.hap-hidden {
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.hap-visible {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}



#hap-slideshow{
	display: none;
}
