/**{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{ 
	text-decoration: none; 
}*/
body {
	background:#333;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}


#hap-wrapper{
	position:relative;
	min-width:320px;
	line-height:normal!important;
	max-width:600px;
	font-family: Arial, Helvetica, sans-serif;
}
.hap-select{
    color:#fff;
    font-size:13px!important;
    height: 22px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	background: url('../data/misc/arrow.png') no-repeat right #222 !important;
	padding:3px 22px 3px 7px;
	border:0;
	margin:0;
	border-radius: 0;
	line-height:normal!important;
	margin-bottom:5px;
	width:auto;
}
.hap-select::-ms-expand {
    display: none;
}
.hap-player-holder{
	position:relative;
	width:100%;
	height:85px;
	background: #4d4d4d; /* Old browsers */
	background: -moz-linear-gradient(top,  #4d4d4d 0%, #2e2e2e 50%, #0a0e0a 51%, #0a0809 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #4d4d4d 0%,#2e2e2e 50%,#0a0e0a 51%,#0a0809 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #4d4d4d 0%,#2e2e2e 50%,#0a0e0a 51%,#0a0809 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#0a0809',GradientType=0 ); /* IE6-9 */
}
.hap-icon-color{
	color:#fff !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-icon-rollover-color{
	color:#4DA7FE !important;
	-webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out; 
}
.hap-contr-btn{
	border:2px solid #222;
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #000000 51%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	-pie-background: linear-gradient(#4c4c4c, #131313);
	behavior: url('css/PIE.htc');
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.hap-contr-btn-i{
	position: absolute;
    top: 0;
    left: 0;
	width:25px;
	height:25px;
	text-align: center;
	display: inline-block;
	font-size: 15px!important;
	line-height: 25px!important;
}
.hap-media-title-mask{
	position:relative;
	top:7px;
	left:20px;
	float:left;
	width:60%;
	width: -webkit-calc(100% - 135px);
    width: -moz-calc(100% - 135px);
    width: calc(100% - 135px);
	height:20px;
	overflow:hidden;
	background:#333;
}
.hap-media-title{
	position:absolute;
	top:0;
	left:0;
	white-space: nowrap;
	font-size:14px;
	color:#fff;
	height: 100%;
    line-height: 20px;
}
.hap-media-time-current,
.hap-media-time-separator,
.hap-media-time-total{
	position:relative;
	top:7px;
	left:0px;
	height:20px;
	line-height:20px !important;
	text-align: center;
	float:right;
	margin:0!important;
	padding: 0px 0px 0px 2px!important;
	color:#fff !important;
	font-size:13px!important;
	width:auto;
}
.hap-media-time-total{
	padding-right: 20px!important;
}
.hap-player-controls{
	position:absolute;
	height: 34px;
	left:20px;
	right:20px;
	top:50%;
	margin-top:-14px;
}
.hap-prev-toggle{
	position:relative;
	left:0px;
	width:25px;
	height:25px;
	-moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
	float:left;
	margin-right:5px;
}
.hap-playback-toggle{
	position:relative;
	top:-2px;
	width:30px;
	height:30px;
	-moz-border-radius:30px;
    -webkit-border-radius:30px;
    border-radius:30px;
	float:left;
	margin-right:5px;
}
.hap-playback-toggle i{
	width:30px;
	height:30px;
	line-height:30px!important;
}
.hap-next-toggle{
	position:relative;
	width:25px;
	height:25px;
	-moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
	float:left;
	margin-right:5px;
}
.hap-random-toggle{
	position:relative;
	width:25px;
	height:25px;
	-moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
	margin-left:5px;
	float:right;
}
.hap-loop-toggle{
	position:relative;
	width:25px;
	height:25px;
	-moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
	float:right;
	margin-left:5px;
}

.hap-player-volume{
	position:relative;
	width:25px;
	height:25px;
	-moz-border-radius:25px;
    -webkit-border-radius:25px;
    border-radius:25px;
	float:left;
}
.hap-volume-seekbar{
	position:relative;
	left:0px;
	top:5px;
	width:70px;
	height:16px;
	float:left;
	cursor: pointer;
	touch-action: none;
}
.hap-volume-bg{
	position:absolute;
	top:5px;
	left:10px;
	width:50px;
	height:6px;
	background:#333333;
}
.hap-volume-level{
	position:absolute;
	top:5px;
	left:10px;
	width:0px;
	height:6px;
	background:#ffffff;
}
.hap-seekbar-inner{
	position:absolute;
	bottom:1px;
	left:20px;
	width:90%;
	width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
	height:16px;
	cursor: pointer;
	touch-action: none;
}
.hap-progress-bg{
	position:relative;
	background:#222222;
	width:100%;
	top:5px;
	height:6px;
}
.hap-load-level{
	position:absolute;
	background:#444444;
	top:5px;
	height:6px;
}
.hap-progress-level{
	position:absolute;
	background:#ffffff;
	top:5px;
	height:6px;	
}



#hap-playlist-list{
	display:none;
}
.hap-playlist-holder{
	position:relative;
	top:0px;
	width:100%;
	background:#111;
	overflow:hidden;
	border-top:1px solid #222;
}
.hap-playlist-inner{
	margin:20px;
	min-height:100px;
	max-height:150px;
}
.hap-playlist-item{
	position: relative;
	top:0px;
	left:0px;
	overflow: hidden;
	line-height: 40px;
}
.hap-playlist-item > a {
    border: 0;
}
.hap-playlist-item:nth-child(odd){
	background: #222; 
}
.hap-playlist-item:last-child {  
	margin-bottom:0px!important;
}
.hap-playlist-non-selected {
	float:left;
	color:#ffffff!important;
	text-decoration: none; 
	margin-right: 10px;
}
.hap-playlist-selected {
	float:left;
	color:#4DA7FE!important;
	text-decoration: none; 
	margin-right: 10px;
}
.hap-playlist-title {
	font-size:14px;
	color:inherit;
}
.hap-download, .hap-link{
	float:right;
	color:#fff!important;
	font-size: 13px!important;
	width: 30px;
	text-align: center;
}
.hap-download i, .hap-link i{
	line-height:40px;
	color:inherit;
}
.hap-download:hover, .hap-link:hover{
	color:#4DA7FE!important;
}
.hap-playlist-filter-msg{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	line-height:140px;
	display: none;
}
.hap-playlist-filter-msg p{
	font-size:15px!important;
	color:#fff!important;
	vertical-align: middle!important;
    text-align:center!important;
	padding:0!important; 	
	margin:0!important; 
	line-height:inherit!important;
}
.hap-bottom-bar{
	position:relative;
	top:0px;
	clear:both;
	height:30px;
	width:100%;
	overflow:hidden;
	border-top:1px solid #222;
}
.hap-search-filter{
	position:relative;
	margin-left:20px;
	width:125px!important;
	height:18px!important;
	top:50%;
	margin-top:-9px;
	padding:0!important;
	border:0!important;
	-moz-border-radius:0 !important;
    -webkit-border-radius:0 !important;
	border-radius:0 !important;
	background:#222 !important;
	color:#fff !important;
	box-shadow:none!important; 
	line-height:1!important; 
	float: left;
	outline:none;
}

.hap-sr-bar-i{
	display: inline-block;
	font-size: 15px!important;
	line-height: 30px!important;
}
.hap-sort-alpha{
	position:relative;
	left:5px;
	top:0px;
	width:25px;
	height:100%;
	text-align: center;
	float: left;
}
.hap-share-item{
	position:relative;
	top:0px;
	right:20px;
	width:25px;
	height:100%;
	margin-right:5px;
	text-align: center;
	float: right;
}





.hap-tooltip{
	position:absolute;
	background:#222;
	text-align:center;
	z-index:10000;
	border:1px solid #333;
	pointer-events:none;
	display:none;
}
.hap-tooltip p {
	width:inherit;
	font-size:12px!important;
	color:#fff!important;
	margin:0 5px !important;
	padding:0 !important;
	line-height:20px !important;
	white-space:nowrap;
}
.hap-tooltip-num{
	direction: ltr !important;
}
.hap-download-confirm{
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	border:1px solid #555;
	opacity:0;
	z-index:1000;
	display:none;
}
.hap-download-confirm p{
	padding:10px 5px !important;
	font-size:14px;
	color:#fff;
	background:#333;
	text-align: center;
}
.hap-preloader{
	position:absolute;
	width:36px;
	height:30px;
	top:50%;
	left:50%;
	margin-left:-16px;
	margin-top:-15px;
	background: #111 url('../data/loading.gif') no-repeat center center; 
}


/* flash or yt */
.hap-sound-holder{
	position:absolute;
	width:100px;
	height:100px;
}
.hap-force-hidden{
	position:absolute!important;
	top:0px;
	left:-10000px!important;
	width:320px;
	height:240px;
}
[dir=rtl] .hap-force-hidden {
    right:-10000px!important;
}
.hap-youtube-holder{
	left:0px!important;
}
/* flash or yt */


.hap-hidden {
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.hap-visible {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}




/* scroll */
.hap-playlist-inner .mCSB_inside > .mCSB_container {
    margin-right: 30px;
}







@media only screen and (max-width: 400px) {
	.hap-volume-seekbar{
		display: none;
	}
}





/* api */
#api-panel {
	position:fixed;
	top:0px;
	right:0px;
	height:100%;
	overflow-y:auto;
	z-index: 999999;
	display:none;
}
#api-panel li a{
	color:#fff;
}
#api-panel li a:hover, #api-panel li .current{
	text-decoration: underline;
}
#api-panel li.space {
   margin-bottom: 20px;
}
.api-panel-inner {
	padding: 30px;
	background:#444;
	font-size: 16px;
	color:#eee;
}
.toggle-panel {
	position:fixed;
	top:0px;
	right:0px;
	width:40px;
	height:40px;
	background: #444 url('../data/api_open.png') no-repeat center center;
	z-index: 999999;
	display: none;
}
.toggle-panel-close {
	position:fixed;
	top:0px;
	right:0px;
	width:40px;
	height:40px;
	background: #444 url('../data/api_close.png') no-repeat center center;
	z-index: 999999;
}



